body{
    font: 25px Arial, sent-serif;
}
.navbar{
    background-color: rgb(212, 130, 58);
}
.quem-somos{
    background-color: #eed892;
    color: black;
}
.margin{
    padding-bottom: 50px;
    padding-top: 20px;
}
.parceiros{
    background-color: wheat;
    color: black;
}
.serviços{
    background-color: blanchedalmond;
}
.bg-footer{
    background-color: black;
    color: white;
}